@import "animations";
@import "typography";
@import "utils";

*,
*:after,
*:before {
    margin: 0;
    padding: 0;   
    box-sizing: inherit;
}

html {
    font-size: 62.5%;

    @include resp(tl){
        font-size: 56%;
    }
    
    @include resp(tp){
        font-size: 50%;
    }

    @include resp(big){
        font-size: 80%;
    }
}

body{
    padding: 3rem;
    box-sizing: border-box;
    
    @include resp(tp){
        padding: 0;
    }
}
