.u-text-center {
	text-align: center !important;
}

.u-inline-block {
	display: inline-block !important;
}

.u-margin-b-xl {
	margin-bottom: 10rem !important;
}

.u-margin-b-l {
	margin-bottom: 8rem !important;
	@include resp(tp){
		margin-bottom: 5rem !important;
	}
}

.u-margin-b-m {
	margin-bottom: 4rem !important;
	@include resp(tp){
		margin-bottom: 3rem !important;
	}
}

.u-margin-b-s {
	margin-bottom: 1.5rem !important;
}

.u-margin-t-xl {
	margin-top: 10rem !important;
}

.u-margin-t-l {
	margin-top: 8rem !important;
}

.u-margin-t-m {
	margin-top: 4rem !important;
}

.u-margin-t-s {
	margin-top: 1.5rem !important;
}